/****************************** 
        Contact 
******************************/
@media screen and (min-width: 0px) {
  header {
    height: 5rem;
  }

  #contact .container {
    padding: 3rem 0;
  }
  #contact form {
    display: flex;
    flex-direction: column;
  }

  #contact form input,
  #contact form textarea {
    margin-bottom: 1rem;
  }

  .contact-info {
    padding: 2rem 0;
  }

  .info-box {
    padding: 1rem 0;
  }
}
